<!doctype html>
<html>
<head>
	{% include 'layouts/includes/head.html.twig' %}
</head>

<body class="metro">

    <header class="bg-dark fg-light" data-load="header.html">
		{% include 'layouts/includes/header.html.twig' %}
    </header>

    <div class="container">

        <div class="grid">

            <div class="row cells12">

                <!-- main content -->
                <div id="content" class="cell colspan11">
                    {% block content %} {% endblock %}
                </div>

            </div><!-- !row cells12 -->


        
        </div><!-- grid -->
        <div class="row cells12">

                <footer class="row cells12">
					{% include 'layouts/includes/footer.html.twig' %}
                </footer>
            </div>

    </div><!-- container -->
   
	<!-- JS Section -->
	{% block script %}
		{% include 'layouts/includes/script.html.twig' %}
	{% endblock %}
	</script>

</body>
</html>