<footer class="row">

	<div class"row span12" style="padding-top: 30px">
		© Copyright 2016 Ketan Chawda - todos app built with Symfony LTS (2.8.x) PHP 5.6, Modified CSS(todomvc.com), JS & jQuery and Metro UI Version 3 - Single Page App Responsive 
	</div>

</footer>

</div><!-- container -->
</body>
</html>