<meta charset="utf-8">
<meta name="description" content="">
<meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, metro, front-end, frontend, software development, web developement, side project, cool tricks, custom stuff">
<meta name="author" content="Ketan Chawda">
<link rel='shortcut icon' type='image/x-icon' href="{{ asset('My-Favicon.png') }}" />

<title>TODOS app</title>

<!-- CSS copied from todomvc.com -->
<link rel="stylesheet" href="{{ asset('public/css/app.css') }}" />
<link rel="stylesheet" href="{{ asset('public/css/modified-base.css') }}" />
<link rel="stylesheet" href="{{ asset('public/css/modified-index.css') }}" />
<link rel="stylesheet" href="{{ asset('public/css/custom.css') }}" />

<!-- Metro UI v3 CSS -->
<link href="{{ asset('public/metro-v3/build/css/metro.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('public/metro-v3/build/css/metro-icons.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('public/metro-v3/build/css/metro-responsive.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('public/metro-v3/build/css/metro-schemes.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('public/metro-v3/iconFont.css') }}" rel="stylesheet" type="text/css">

<!-- JQuery, UI Js + Css -->
<script src="{{ asset('public/jquery/jquery-2.1.3.min.js') }}"></script>

<!-- Metro UI v3 Js -->
<script src="{{ asset('public/metro-v3/build/js/metro.js') }}"></script>