<div class="app-bar darcula" data-role="appbar">
    {# Home Icon #}
    <a class="app-bar-element" href="{{ asset('/') }}">
        <span class="mif-home mif-2x" id="toggle-tiles-dropdown">
        </span>
    </a>
    {#  Menu Bar #}
    <ul class="app-bar-menu">
        <li>
            <a href="javascript:show('#all')">
                All
            </a>
        </li>
        <li>
            <a href="javascript:show('#active')">
                Active
            </a>
        </li>
        <li>
            <a href="javascript:show('#completed')">
                Completed
            </a>
        </li>

        <li>
            <a class="under-construction" href="#import">
                Import/Export/Sync
            </a>
        </li>

    </ul>
    <div class="app-bar-element place-right">
        <a class="under-construction" href="#">
            Hi Guest
        </a>
        <a class="dropdown-toggle fg-white">
            <span class="mif-settings-power mif-3x">
            </span>
        </a>
        <div class="app-bar-drop-container bg-white fg-dark place-right" data-no-close="false" data-role="dropdown">
            <div class="padding20">
                <form>
                    <div class="form-actions">
                        <a class="button warning under-construction" href="#login">
                            Login
                        </a>
                        <a class="button bg-grayLight" href="#">
                            Exit
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {#
</div>
#}
