{% extends 'layouts/metroui.html.twig' %}

{# CONTENT Block - Overriding #}
{% block content %}
    {{ parent() }}
<section id="todoapp">
    <header id="header">
        <h1>
            todos
        </h1>
        {# 1) Task InputBox #}
        <input autofocus="" id="new-todo" onkeypress="return checkAction(event)" placeholder="What needs to be done?"/>
        {# 2) Task Display Wrapper #}
        <section id="main" style="display: block;">
            <input id="toggle-all" type="checkbox">
                <label for="toggle-all">
                    Mark all as complete
                </label>
                <ul id="todo-list">
                    <div class="status" id="all">
                    </div>
                    <div class="status" id="active">
                    </div>
                    <div class="status" id="completed">
                    </div>
                </ul>
            </input>
        </section>
        {# 3) Task Footer Control #}
        <footer id="footer" style="display: block;">
            <span id="todo-count">
                <strong>
                    0
                </strong>
                item left
            </span>
            <ul id="filters">
                <li>
                    <a class="viewController selected" href="javascript:show('#all', '#showAll')" id="showAll">
                        All
                    </a>
                </li>
                <li>
                    <a class="viewController" href="javascript:show('#active', '#showActive')" id="showActive">
                        Active
                    </a>
                </li>
                <li>
                    <a class="viewController" href="javascript:show('#completed', '#showCompleted')" id="showCompleted">
                        Completed
                    </a>
                </li>
            </ul>
        </footer>
    </header>
</section>
{% endblock %}

{# SCRIPT Block - Overriding #}
{% block script %}
    {{ parent() }}
<script type="text/javascript">
    var todoCounter = 0;

    $(document).ready(function() { 
        loadAll();        
        show('#all');
    });

    // Check if ENTER key is pressed and perform action 
            function checkAction(e) {
                if (e.keyCode == 13) {
                    add();
                    return false;
                }
            }

            // Add item to Todos List 
            function add() {

                $.ajax({
                    type: "GET",
                    url: 'services/task/create',
                    data: {'name' : $('#new-todo').val()},
                    success: function(status) {
                        loadAll();
                        // Clear inputBox
                        $('#new-todo').val('');
                    },
                });
            }


            // Load All tasks from Server
            function loadAll() {

                $.ajax({
                    dataType: "json",
                    url: 'services/task',
                    success: function(json) {
                        if(json != "" || json != null ) {
                            // console.log(JSON.parse(data));
                            refreshViews(json);
                        } else {
                            $("#all").empty();
                            $("#active").empty();
                            $("#completed").empty();
                        }
                    },
                    // async: false
                });
            }


            // Render All items
            function refreshViews(json) {

                var all = $("#all").empty();
                var active = $("#active").empty();
                var completed = $("#completed").empty();

                for(var i = 0; i < json.length; i++) {
                    var task = json[i];

                    if(task['isCompleted'] == 'true') {
                        completed.append(prepareItem(task, true))
                        all.append(prepareItem(task, true))
                    } else {

                        todoCounter++;
                        active.append(prepareItem(task))
                        all.append(prepareItem(task))
                    }

                }

                // Items Left Feature
                $('#todo-count').empty();
                $('#todo-count').append("<strong>" + todoCounter + "</strong> item left");
                todoCounter = 0;
            }

            // Show requested view. Ex : All, Active Or Completed
            function prepareItem(task, isCompleted = false) {

                var html  =  '<li class="view">';
                html  += '<input class="toggle" type="checkbox" data-id=' + task['id'] + '>';
                
                if(isCompleted == true) {
                    var html  =  '<li class="view completed">';
                    html  += '<input class="toggle" type="checkbox" checked="checked" data-id=' + task['id'] + '>';
                }
                

                html += '<label>' + task["name"] + '</label>';
                html += '<button class="destroy" data-id=' + task['id'] + '></button></li>';
                // html += '<input class="edit" style="display:none" data-id=' + task['id'] + 'value="' + task["name"] + '">';

                return html;
            }

            // Show requested view. Ex : All, Active & Completed
            function show(viewId, viewControllerId) {

                $(".status").hide();
                $(viewId).show();

                $( ".viewController" ).removeClass("selected");
                $(viewControllerId).addClass("selected");
            }

            //Event :  To update isCompleted flag of Task (Active/Completed)
            $(document).on("click",".toggle",function() {
                var id = $(this).attr('data-id');

                var isChecked = $(this).prop("checked");

                $.ajax({
                    type: "GET",
                    url: 'services/task/update',
                    data: {'id' : id , 'isCompleted' : isChecked},
                    success: function(status) {
                        loadAll();
                    },
                });

            });

            //Event : To delete Task item completely
            $(document).on("click",".destroy",function() {
                var id = $(this).attr('data-id');

                $.ajax({
                    type: "GET",
                    url: 'services/task/delete',
                    data: {'id' : id },
                    success: function(status) {
                        loadAll();
                    },
                });

            });


            // Unused METHODs - Only applicable if we use Database Storage
            function loadActive() {

                $.ajax({
                    url: 'services/task/active',
                    success: function(data) {
                        console.log(data);
                    },
                });
            }


            function loadCompleted() {

                $.ajax({
                    url: 'services/task/completed',
                    success: function(data) {
                        console.log(data);
                    },
                });
            }

            // Inline edit feature 
            $(document).on("dblclick","label",function() {
                // Step-1) Hide label
                $(this).hide();
                
                // Step-2) Open Input for Edit purpose
                $(this).next().show();

                // Step-3) Listen for ENTER key and update that task item
                // Step-4) loadAll() and further
            });
</script>
{% endblock %}
